*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:linear-gradient(#04142f,#071f47,#061B3A);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

color:white;

}

.stars{

position:fixed;

inset:0;

background-image:radial-gradient(white 1px,transparent 1px);

background-size:45px 45px;

opacity:.35;

animation:move 80s linear infinite;

}

@keyframes move{

to{

background-position:0 1200px;

}

}

.book{

width:850px;

max-width:92%;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:45px;

border-radius:25px;

text-align:center;

box-shadow:0 0 35px rgba(255,255,255,.15);

z-index:5;

}

h1{

font-family:Great Vibes;

font-size:72px;

color:#FFD369;

margin-bottom:10px;

}

h2{

font-weight:300;

margin-bottom:30px;

}

.page{

font-size:22px;

line-height:2;

min-height:260px;

padding:25px;

border-radius:20px;

background:rgba(255,255,255,.05);

animation:fade .7s;

white-space:pre-line;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

button{

margin:25px 10px 10px;

padding:15px 30px;

border:none;

border-radius:40px;

background:#FF4F8B;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.06);

box-shadow:0 0 20px #FF4F8B;

}

#indicator{

margin-top:20px;

font-size:18px;

color:#FFD369;

}