*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#061B3A;

font-family:Poppins,sans-serif;

overflow:hidden;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

canvas{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

}

.glass{

width:700px;

max-width:90%;

padding:40px;

text-align:center;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border-radius:25px;

box-shadow:0 0 40px rgba(255,255,255,.15);

z-index:5;

}

h1{

font-family:Great Vibes;

font-size:70px;

color:#FFD369;

margin-top:10px;

}

h2{

font-weight:300;

margin-bottom:25px;

}

.photo{

width:230px;

height:230px;

border-radius:50%;

border:5px solid #FFD369;

object-fit:cover;

margin-bottom:25px;

}

#typewriter{

font-size:20px;

line-height:1.8;

min-height:150px;

}

button{

padding:15px 30px;

border:none;

margin:15px;

border-radius:50px;

font-size:18px;

cursor:pointer;

background:#FF4F8B;

color:white;

transition:.4s;

}

button:hover{

transform:scale(1.08);

box-shadow:0 0 25px #FF4F8B;

}

.heart{

position:fixed;

pointer-events:none;

font-size:22px;

animation:float 2s linear forwards;

}

@keyframes float{

to{

transform:translateY(-200px) scale(.3);

opacity:0;

}

}